<nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
	<div class='container'>
		<a class='navbar-brand' href='/'>Categories Management</a>
		<div class='d-flex align-items-center justify-content-between'>
			<div class='d-flex'>
				{{#if isLogged}}
				<a href='/auth/signout' class='btn btn-dark ms-3' type='button'>
					Logout
				</a>
				{{else}}
				<a href='/auth/signin' class='btn btn-dark ms-3' type='button'>
					Sign in
				</a>
				<a href='/auth/signup' class='btn btn-dark ms-3' type='button'>
					Sign up
				</a>
				{{/if}}
			</div>
		</div>
	</div>
</nav>