<nav class="navbar">
	<div
		class="container-fluid rounded-3 p-2"
		style="background-color: #17223c; border: 1px solid #1b3476"
	>
		<a class="navbar-brand" href="/">
			<i class="fa-solid fa-house text-light"></i>
		</a>
	</div>
</nav>
